

.contract1 h4 {
    font-size: 8pt;
}

.contract1 .contract-text {
    padding: 5px 35px !important;
    font-size: 7.9pt!important;
}


.inn {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.contract1 .row *,
.contract1 p {
    font-size: 7.9pt !important;
}

.inn .row{
    margin-top: 10px !important;
}
.inn p {
    margin-bottom: 3px !important;
    line-height: 1;
}
.inn p .text_edit {
    line-height: 1 !important;
}
.inn p:first-child {
    margin-bottom: 10px !important;
}

.inn p:last-child {
    margin-left: 0 !important;
}

.contract1 h5 {
    color: black !important;
    font-weight: bold;
}
.contract1 span.text_edit {
    line-height: 1;
}
.contract1 .text-bold{
    font-weight: bold;
}
.contract1 .mt_1 {
    margin-top: 8px;
}
.contract1 .tr-empty {
    height: 20px;
}
.contract1 .tr-empty td:last-child {
    padding: 0;
    line-height: 1;
}
.contract1 .contract1-list3-table1 {
    line-height: 1;
}

.contract1 .contract1-list3-table1 tr td:nth-child(2) {
    width: 35%;
}
.contract1 .contract1-list4-table2 tr td:nth-child(1) {
    text-align: left;
    padding-left: 15px;
}
.contract1 .contract1-list4-table2 tr td:nth-child(3),
.contract1 .contract1-list4-table2 tr td:nth-child(4),
.contract1 .contract1-list4-table2 tr td:nth-child(5) {
    text-align: center;
    line-height: 1;
}
.contract1 .contract1-list4-table2 tr td:nth-child(6)  {
    text-align: center;
    font-weight: bold;
}


.contract1 .table tr th,
.contract1 .table tr td {
    font-size: 7.9pt;
    padding: 10px;
    border: 1px solid darkgray;
}


