
h4.text-center {
    font-size: 8.5pt;
}

.contract-text {
    padding: 5px 35px !important;
    font-size: 7.8pt!important;
}

.inn {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.row, p {
    font-size: 7.8pt !important;
}

.inn .row{
    margin-top: 10px !important;
}
.inn p {
    margin-bottom: 3px !important;
    line-height: 1;
}
.inn p .text_edit {
    line-height: 1 !important;
}
.inn p:first-child {
    margin-bottom: 10px !important;
}

.inn p:last-child {
    margin-left: 0 !important;
}

h5 {
    color: black !important;
    font-weight: bold;
}
span.text_edit {
    line-height: 1;
}
.text-bold{
    font-weight: bold;
}
.mt_1 {
    margin-top: 8px;
}
.tr-empty {
    height: 20px;
}
.tr-empty td:last-child {
    padding: 0;
    line-height: 1;
}
.contract1-list3-table1 {
    line-height: 1;
}

.contract1-list3-table1 tr td:nth-child(2) {
    width: 35%;
}
.contract1-list4-table2 tr td:nth-child(1) {
    text-align: left;
}
.contract1-list4-table2 tr td:nth-child(1) b {
    margin-left: 5px !important;
}
.contract1-list4-table2 tr td:nth-child(3),
.contract1-list4-table2 tr td:nth-child(4),
.contract1-list4-table2 tr td:nth-child(5) {
    text-align: center;
    line-height: 1;
}
.contract1-list4-table2 tr td:nth-child(6)  {
    text-align: center;
    font-weight: bold;
}


.table tr th,
.table tr td {
    font-size: 7.9pt;
    padding:  3px;
}

tbody tr td {
    padding: 3px;
}

thead tr th,
tbody tr td,
tbody tr td span {
    color: #000;
    border: none !important;
}


table thead tr:last-child {
    border-bottom-color: #000 !important;
}





