

.contract5 .contract-text {
    font-size: 7.7pt!important;
}

.contract5 .horizontal-list {
    font-size: 7.8pt!important;
}



.contract5 table {
    background: white !important;
    border: 1px solid black;
    color: black;
}

.contract5 .table th {
    text-align: center;
    padding: 5px;
    line-height: 1;
    color: black !important;
    border: 1px solid darkgray !important;
}

.contract5 .table tr td {
    color: black !important;
    padding: 3px 5px !important;
    border: 1px solid darkgray !important;
}


.contract5 .contract-text .table tr th,
.contract5 .contract-text .table tr td {
    vertical-align: middle;
}


.contract5 h4 {
    font-size: 9pt !important;
}


.contract5 .contract-text {
    padding: 20px 35px 20px 50px !important;
    font-size: 7.7pt!important;
    line-height: 1!important;
}



.contract5 .inn .row{
    margin-top: 5px !important;
}
.contract5 .card div .row .inn p {
    margin-bottom: 1px !important;
    line-height: 1!important;
}

.contract5 .inn p:first-child {
    margin-bottom: 0 !important;
}
