
.contract6 h4 {
    font-size: 14px !important;
    margin-top: 20px;
}

.contract6 .contract-text {
    padding: 20px 35px 20px 45px !important;
    font-size: 14px !important;
    max-width: 794px !important;
    height: 1123px !important;
}

.contract6 .contract-text:first-child p {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.contract6 .table tr,
.contract6 .table tr th,
.contract6 .table tr td {
    border: 1px solid black !important;
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    color: black;
    text-align: center;
}

.contract6 .table tr td:nth-child(3)  {
    text-align: left;
    width: 25%;
}
.contract6 .table tr td:nth-child(4)  {
    text-align: center;
}
.contract6 .table tr td:nth-child(5)  {
    text-align: center;
}
.contract6 .table tr td:nth-child(6)  {
    width: 15%;
    text-align: center;
}
