

.contract-text {
    padding: 13px 35px 20px 50px !important;
    font-size: 7.6pt;
    line-height: 1;
}

.contract-text:nth-child(2) {
    padding-top: 5px !important;
}
.horizontal-list {
    font-size: 7.6pt;
}

.horizontal-list table tr th,
.horizontal-list table tr td {
    color: #000 !important;
    padding: 3px;
}


.contract-text .table tr th,
.contract-text .table tr td {
    vertical-align: middle;
}


h4 {
    font-size: 7.8pt;
    margin-top: 0;
}


.inn .row{
    margin-top: 5px !important;
}
.card div .row .inn p {
    margin-bottom: 1px !important;
    line-height: 1!important;
}

.inn p:first-child {
    margin-bottom: 0 !important;
}

table tbody tr td {
    padding: 5px;
}

table,
table thead tr th {
    border-top-color: #000 !important;
}


.contract-text table tbody tr td {
    padding: 5px !important;
}


.table .tr-span td {
    padding: 3px !important;
    font-size: 7.5pt !important;
}