.app-content {
    background: #cecdcf;
}


h4 {
    color: black !important;
    font-weight: 600;
    font-size: 19px;
}
.contract-text {
    text-align: justify;
    padding: 10px 30px;
    width: 1000px;
    /*width: 794px;*/
    /*height: 1123px;*/
    margin: 20px auto;
    font-size: 18px;
    word-spacing: 0;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.contract-text:first-child {
    margin-top: 0;
}
span.text_edit {
    color: red;
    line-height: 1.5;
}

.text-underline {
    text-decoration: underline;
}

.inn {
    margin-top: 45px !important;
}
.inn p {
    margin-bottom: 3px !important;
    line-height: 1.2;
}
.inn p .text_edit {
    line-height: 1.2 !important;
}
.inn p:first-child {
    margin-bottom: 15px !important;
}

.inn p:last-child {
    margin-left: 8% !important;
}

section {
    line-height: 1.6;
}
.i-number {
    text-align: center;
    color: gray;
    font-style: italic;
    font-size: 12px;
}
.table {
    background: white !important;
}
.table th {
    text-align: center;
    padding: 5px;
    line-height: 1.2;
    color: black !important;
}
.table td {
    color: black !important;
    padding: 3px 5px !important;
}

.card {
    background: white !important;
}
