.app-content {
    background: #cecdcfbf!important;
    border: 2px solid red;
}

.contract-number-btn-group {
    position: fixed;
    top: 18%;
}

.card * {
    line-height: 1.2!important;
}
h4 {
    color: black !important;
    font-weight: 600;
}

.contract-text {
    text-align: justify;
    padding: 5px 25px !important;
    max-width: 794px !important;
    /*max-height: 1123px !important;*/
    margin: 15px auto;
    font-family: 'Times New Roman', Times, serif!important;
    color: black;
    border: none !important;
}


.contract-text:first-child {
    margin: 0 auto !important;
}

.horizontal-list {
    padding: 10px 30px;
    max-width: 1123px !important;
    margin: 10px auto;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif!important;
    color: black;
    border: none !important;
}

span.text_edit {
    line-height: 1;
}


.text-underline {
    text-decoration: underline;
}

.text-bold{
    font-weight: bold;
}

.inn {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.inn .row{
    margin-top: 10px !important;
}

.inn p {
    margin-bottom: 3px !important;
    line-height: 1;
}

.inn p .text_edit {
    line-height: 1 !important;
}

.inn p:first-child {
    margin-bottom: 10px !important;
}

.inn p:last-child {
    margin-left: 10% !important;
}


.card {
    background: white !important;
}

.table tr th, .table tr td {
    vertical-align: middle !important;
}

.horizontal-table tr:nth-child(1) td {
    font-weight: 500;
}

.horizontal-table .tr-kvartl td {
    font-style: italic;
    font-weight: 600;
    background: lightgray;
}

.horizontal-table .tr-footer-all-sum td {
    background: lightgray;
    font-weight: 600;
    font-style: italic;
}

.horizontal-table tr:last-child td:first-child {
    font-style: normal !important;
}


.table .td-span {
    text-align:  center;
    font-size: 8.5pt!important;
}


/** file uploader **/

.file-uploaded-div {
    max-width: 1030px !important;
    margin: 5px auto;
}


.add-tr-btns {
    display: flex;
    padding: 1px 3px !important;
}




/** horizontal table icons **/

.horizontal-table-icons {
    position: absolute;
    left: 100%;
    top: 21.5%;
}
.horizontal-table-icons tr td {
    padding: 2pt !important;
}

.horizontal-table-icons tr td:hover {
    background: lightgreen;
    cursor: pointer;
}


/** table in ul word icons **/

.ul-word-icons{
    list-style-type: none;
    display: flex;
    position: absolute;
    left: -43%;
    top: 1px;
}
.ul-word-icons li {
    border: 1px solid red;
    padding: 3px 5px;
    font-size: 12px;
    cursor: pointer;
}

.ul-word-icons li:hover {
    background: lightgreen;
}
