
.contract-text {
    padding: 15px 35px 20px 50px !important;
    font-size: 7.8pt;
}

.horizontal-list {
    font-size: 7.8pt;
}

.horizontal-list table tr th,
.horizontal-list table tr td {
    color: #000 !important;
    padding: 3px;
    font-size: 7.8pt;
}


.contract-text .table tr th,
.contract-text .table tr td {
    vertical-align: middle;
    font-size: 8pt;
}


h4 {
    font-size: 8pt;
    margin-top: 0;
}


.inn .row{
    margin-top: 5px !important;
}
.card div .row .inn p {
    margin-bottom: 1px !important;
    line-height: 1!important;
}

.inn p:first-child {
    margin-bottom: 0 !important;
}

table tbody tr td {
    padding: 5px;
}

table tbody tr td {
    border-top-color: #000 !important;
}

table thead tr th {
    border-top-color: #000 !important;
}

table thead {
    border-top-color: #000 !important;
}

.contract5 table tbody tr td {
    padding: 5px !important;
    color: #000 !important;
}


.table .tr-span td {
    padding: 3px !important;
    font-size: 7.3pt !important;
}